/* colors
 * #FCFEFE => light 
 * #FFCA4F => link
 * #FFA226 => link:hover 
 * #1FCFC1 => base1 (clair)
 * #26CEBE => base2
 * #0F7885 => base3 (foncé)
 * #222 => dark
**/

/* ====================================================
   BASE
   ==================================================== */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #111;
}

/* pour que l'appli prenne toute la hauteur au chargement de la page. */
header, footer {
    height: 20vh;
    background-color: #93BACC;
}
section {
    height: 55vh;
}
.tasks-actions {
    height: 5vh;
}

/* ====================================================
   HEADER
   ==================================================== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 25px;
    background-image: url(../images/logo.svg);
}

h1 {
    margin-right: 25px;
    font-size: 5em;
    color: #222;
    text-shadow: 0 2px 0 #555;
    text-transform: uppercase;
}

/* ====================================================
   SECTION PRINCIPALE
   ==================================================== */

section {
    overflow-y: scroll;
    background-image: url(../images/bg.png);
}

.todo-name:first-letter {
    text-transform: capitalize;
}

.tasks-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #324A5E;
}

.tasks-actions form {
    display: flex;
    align-items: center;
}

.tasks-actions form input {
    width: 200%;
    height: 3vh;
    padding: 0 10px;
    border: 1px solid #324A5E;
    text-transform: uppercase;
    outline: 0;
    color: #324A5E;
}

.tasks-actions form input:focus {
    border: 1px solid #93BACC;
    color: #FC7862;
}

.tasks-actions form input.btn-submit {
    width: 50px;
    margin-left: 5px;
    background-color: #FC7862;
    border: 1px solid #C9604E;
    transition: .4s;
}

.tasks-actions form input.btn-submit:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.tasks-actions form {
    margin-left: 25px;
}

.tasks-actions div {
    margin-right: 25px;
}

.tasks-actions i {
    color: #FC7862;
}


.todo-list {
    margin: 0;
    padding: 0;
}

.todo-list li {
    height: 100px;
    list-style: none;
    border-bottom: 1px solid #324A5E;
} 

.todo-list li:nth-child(odd) {
    background-color: rgba(0, 0, 0, .2);
}
.todo-list li:nth-child(even) {
    background-color: rgba(225, 255, 255, .4);
}

.view {
    position: relative;
    line-height: 100px;
}

.destroy {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 0;
    color: #31495E;
    font-size: 2em;
    transition: .2s;
    cursor: pointer;
}

.destroy:hover {
    color: #FC7862;
}

.toggle {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 99;
}

label p {
    position: relative;
    margin: 0 0 0 50px;
    font-size: 2em;
}

.view label {
    position: relative;
}

.view form input {
    position: absolute;
    top: 0;
    padding: 0;
    left: 50px;
    width: 1000px;
    height: 100px;
    font-size: 2em;
    opacity: 0;
    border: 0;
    transition: .2s;
}

.view .editing form input {
    outline: 0;
    opacity: 1;
}

.btn-submit {
    width: 20px;
    height: 20px;
}

/* ====================================================
   FOOTER
   ==================================================== */

footer {
    align-items: center;
}

footer p {
    text-align: center;
}

footer ul {
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    margin: 0 10px;
    padding: 10px 50px;
    height: 30px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #222;
    border: 1px solid #FC7862;
    background-color: #C9604E;
    box-shadow: 0 2px 0 #7C3B30;
    transition: .2s;
}

footer ul li a:hover, .selected {
    filter: brightness(125%);
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #0F7885;
}

.credit {
    color: #324A5E;
}

.credit a {
    text-decoration: none;
    color: #7C3B30;
    transition: .4s;
}

.credit a:hover {
    filter: brightness(200%);
    text-shadow:  0 1px 0 #111;
}