/* colors
 * #FCFEFE, #FFCA4F, #FDC94F, #1FCFC1, #26CEBE, #0F7885, #000000
**/

.completed {
    text-decoration: line-through;
    color: green;
}

.view label {
    position: relative;
}

.view form {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid blue;
    opacity: 0;
    transition: .2s;
}

.view .editing form {
    opacity: 1;
}