/* colors
 * #FCFEFE => light 
 * #FFCA4F => link
 * #FFA226 => link:hover 
 * #1FCFC1 => base1 (clair)
 * #26CEBE => base2
 * #0F7885 => base3 (foncé)
 * #222 => dark
**/

/* ====================================================
   BASE
   ==================================================== */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #111;
}

/* pour que l'appli prenne toute la hauteur au chargement de la page. */
header, footer {
    height: 20vh;
    background-color: #26CEBE;
}
section {
    height: 55vh;
}
.tasks-actions {
    height: 5vh;
}

/* ====================================================
   HEADER
   ==================================================== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150px;
    margin-left: 25px;
    background-image: url(../images/logo.svg);
}

h1 {
    margin-right: 25px;
    font-size: 5em;
    color: #222;
    text-shadow: 0 2px 0 #555;
    text-transform: uppercase;
}

/* ====================================================
   SECTION PRINCIPALE
   ==================================================== */

.tasks-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F7885;
}

.tasks-actions form input {
    width: 200%;
    height: 3vh;
    padding: 0 10px;
    border: 1px solid #1FCFC1;
    outline: 0;
    text-transform: capitalize;
    color: #1FCFC1;
}

.tasks-actions form input:focus {
    border: 1px solid #FFA226;
    color: #FFA226;
}

.tasks-actions form {
    margin-left: 25px;
}

.tasks-actions div {
    margin-right: 25px;
}

.tasks-actions i {
    color: #FFA226;
}

section {
    overflow-y: scroll;
    background-image: url(../images/bg.png);
    background-size: cover;
}


/* ====================================================
   FOOTER
   ==================================================== */

footer p {
    font-size: 1.5em;
    text-align: center;
}

footer ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 50px 0 25px 0;
    list-style: none;
}

footer ul li a {
    margin: 0 10px;
    padding: 10px 50px;
    height: 30px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #222;
    border: 1px solid #FFCA4F;
    background-color: #FFA226;
    box-shadow: 0 2px 0 #FFCA4F;
    transition: .2s;
}

footer ul li a:hover, .selected {
    border: 1px solid #FFA92B;
    background-color: #FFCA4F;
    box-shadow: 0 2px 0 #FFA226;
}




.completed {
    text-decoration: line-through;
    color: green;
}

.view label {
    position: relative;
}

.view form {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .2s;
}

.view .editing form {
    opacity: 1;
}
